blinker==1.9.0
click==8.1.8
Flask==3.1.0
flask-cors==5.0.1
greenlet==3.1.1
inflect==7.5.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
more-itertools==10.6.0
psycopg==3.2.6
psycopg2-binary==2.9.10
sqlacodegen==3.0.0
SQLAlchemy==2.0.40
typeguard==4.4.2
typing_extensions==4.13.1
Werkzeug==3.1.3
