<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Northwind</title>
        <link rel="stylesheet" href="static/styles.css">
        <script src="/static/global-script.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Home</h1>
            <button onclick="redirectTo('add-order')">Adicionar pedido</button>
        </div>
    </body>
</html>
