<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptates id commodi
            a nemo voluptatibus temporibus perspiciatis, architecto dolore vero quos dolores culpa
            ea maiores, alias voluptatum tenetur praesentium unde.
        </p>
    </body>
</html>
